.headersection {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #353535;
}
.headerdiv {
  flex-grow: 1;
}
.titlesection {
  margin-left: 15%;
  display: flex;
  font-family: "BeautyMountain";
  font-size: 20px;
  padding: 20px;
  align-items: center;
}
/* .title img,
p {
  cursor: pointer;
} */
.titlelogo {
  border-radius: 50%;
}
.titlename {
  margin-left: 20px;
  cursor: pointer;
}
.tabsection {
  font-family: "BeautyMountain";
  font-size: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10%;
}
.tabli {
  margin-left: 20px;
  margin-right: 20px;
}
.tabli:hover {
  color: #dadada;
  cursor: pointer;
}
/* a {
  text-decoration: none;
  color: inherit;
} */
